
.vs/SqlAutoBackup/v15/.suo
.vs/SqlAutoBackup/v15/Server/sqlite3/db.lock
.vs/SqlAutoBackup/v15/Server/sqlite3/storage.ide
.vs/SqlAutoBackup/v15/Server/sqlite3/storage.ide-shm
.vs/SqlAutoBackup/v15/Server/sqlite3/storage.ide-wal
